{% extends "registration/layout.html" %}
{% block body %}
<div class="authentication">
  <h2>Login</h2>
  {% if message %}
  <span class="authentication-error">{{ message }}</span>
  {% endif %}

  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div>
      <input class="input-field" autofocus type="text" name="username" placeholder="Username">
    </div>
    <div>
      <input class="input-field" type="password" name="password" placeholder="Password">
    </div>
    <div class="buttons">
      <input class="button" type="submit" value="Login">
      <a class="button" href="{% url 'register' %}">Register</a>
    </div>
  </form>

</div>
</div>
{% endblock %}
