{% extends "registration/layout.html" %}
{% block body %}
<div class="authentication">
  <h2>Register</h2>

  {% if message %}
  <span class="authentication-error">{{ message }}</span>
  {% endif %}

  <form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <div>
      <input class="input-field" autofocus type="text" name="username" placeholder="Username">
    </div>
    <div>
      <input class="input-field" type="email" name="email" placeholder="Email Address">
    </div>
    <div>
      <input class="input-field" type="password" name="password" placeholder="Password">
    </div>
    <div>
      <input class="input-field" type="password" name="confirmation" placeholder="Confirm Password">
    </div>
    <input class="button" type="submit" value="Register">
  </form>

  <div class="authentication-footer">
    <span>Already have an account?</span>
    <a href="{% url 'login' %}">Log In here.</a>
  </div>
</div>
{% endblock %}
